<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ClazzMapper">
    <insert id="insertClazz">
        insert into clazz (name, master_id, begin_date,end_date,create_time,update_time, room, subject)
        values (#{name},#{masterId},#{beginDate},#{endDate},#{createTime},#{updateTime},#{room},#{subject});
    </insert>
    <update id="updateClazz">
        update clazz
        <set>
        <if test="name != null and name != ''"> name = #{name},</if>
        <if test="room != null "> room = #{room},</if>
        <if test="beginDate != null "> begin_date = #{beginDate},</if>
        <if test="endDate != null "> end_date = #{endDate},</if>
        <if test="masterId != null "> master_id = #{masterId},</if>
        <if test="subject != null ">subject = #{subject},</if>
        <if test="updateTime != null ">update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteClazzs">
        delete from clazz where id = #{id};
    </delete>

    <select id="counts" resultType="java.lang.Long">
        select count(*) from clazz
    </select>
    <select id="selectClazzs" resultType="com.itheima.pojo.Clazz">
        select c.*,e.name master_name from clazz c left join emp e on c.master_id = e.id
        order by update_time desc limit #{start},#{pageSize};
    </select>
    <select id="getClazzById" resultType="com.itheima.pojo.Clazz">
        select c.*,e.name master_id from clazz c left join emp e on c.master_id = e.id
        where c.id = #{id};
    </select>
    <select id="getClazzList" resultType="com.itheima.pojo.Clazz">
        select * from clazz
    </select>
</mapper>